

.ipynb_checkpoints/
**/__pycache__
models/
.vs/
.vscode
workspace.bat
graphs/
# Ignore Python cache
__pycache__/

# Ignore VSCode config
.vscode/

# Ignore experiment/logging data
wandb/
results/

# Ignore system or editor-specific files
*.log
*.bat
.DS_Store
Thumbs.db

# Optional: Ignore any model outputs or temporary data
agents/__pycache__/
results/__pycache__/
